.c-breadcrumb {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  color: #555666;
}
.c-breadcrumb-item--inner {
  font-weight: 400;
  color: #777888;
  cursor: text;
}
.c-breadcrumb-separator {
  margin: 0 4px;
  color: #777888;
}
.c-breadcrumb-item:last-child .c-breadcrumb-separator {
  display: none;
}
