.c-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  padding: 40px 0;
}
.c-empty-image {
  min-width: 100px;
}
.c-empty-image img {
  width: 100%;
}
.c-empty-description {
  margin-top: 10px;
}
.c-empty-bottom {
  margin-top: 10px;
}
