.c-input {
  width: 100%;
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
}
.c-input-content {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  height: 35px;
  width: 100%;
  padding: 0 15px 0 15px;
}
.c-input-content::placeholder {
  color: #d7dadf;
}
.c-input-content:focus {
  outline: none;
  border: 1px solid #409eff;
}
.c-input-limit {
  padding: 0 50px 0 15px;
}
.c-input-disabled {
  cursor: not-allowed;
  background-color: #f3f3f3;
  border-color: #e4e7ed;
}
.c-input-tip {
  position: absolute;
  right: 8px;
  line-height: 40px;
  color: #d7dadf;
}
