@prefix: 'c-btn';

.c-btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline-style: none;
  border: none;
  text-align: center;
  white-space: nowrap;
  -webkit-appearance: none;
  user-select: none;
  line-height: @line-height-base;
  transition: all @transiton-duration linear;

  &:active {
    transition: none;
  }


}
