.c-list {
  position: relative;
}
.c-list-header {
  padding: 12px 20px;
}
.c-list-footer {
  padding: 12px 20px;
}
.c-list-border {
  border: 1px solid #f0f0f2;
  border-radius: 6px;
}
.c-list-content {
  margin: 0;
  padding: 0;
  list-style: none;
}
.c-list-item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
}
.c-list-item-extra {
  margin-left: 30px;
}
.c-list-item-action {
  flex: 0 0 auto;
  margin-left: 40px;
  padding: 0;
  font-size: 0;
  list-style: none;
}
.c-list-item-action-vertical {
  margin-top: 18px;
  margin-left: auto;
}
.c-list-item-action > li {
  position: relative;
  display: inline-block;
  padding: 0 8px;
  line-height: 22px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
.c-list-item-action > li::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 14px;
  margin-top: -7px;
  background-color: #e8eaec;
}
.c-list-item-action > li:last-child::after {
  display: none;
}
.c-list-item-action > li:first-child {
  padding-left: 0;
}
.c-list-item-meta {
  display: flex;
  flex: 1;
  align-items: flex-start;
}
.c-list-item-meta-content {
  margin-left: 15px;
}
.c-list-item-meta-title {
  font-weight: 500;
  margin-bottom: 4px;
  color: #222226;
  font-size: 14px;
  line-height: 22px;
}
.c-list-item-meta-description {
  color: #555666;
}
.c-list-split .c-list-header {
  border-bottom: 1px solid #f0f0f2;
}
.c-list-split .c-list-footer {
  border-top: 1px solid #f0f0f2;
}
.c-list-split .c-list-item {
  border-bottom: 1px solid #f0f0f2;
}
.c-list-split .c-list-item:last-child {
  border-bottom: none;
}
