.c-rate {
  display: flex;
  padding: 0px 4px;
  align-items: center;
}
.c-rate-icon {
  cursor: pointer;
  color: #909399;
}
.c-rate-hover {
  color: #f6da4d;
}
.c-rate-hover-point {
  transform: scale(1.2);
}
.c-rate-point {
  color: #f6da4d;
}
.c-rate-text {
  padding: 6px 13px;
  color: #f6da4d;
}
.c-rate-large {
  font-size: 30px;
}
.c-rate-medium {
  font-size: 26px;
}
.c-rate-small {
  font-size: 20px;
}
