.c-pagination {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.c-pagination-total {
  margin-right: 12px;
}
.c-pagination-btn {
  height: 32px;
  background: #F5F5F7;
  border: none;
  cursor: pointer;
}
.c-pagination-btn-disable {
  cursor: not-allowed;
}
.c-pagination .c-page {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  padding: 0 10px;
}
.c-pagination .c-page .num {
  box-sizing: border-box;
  display: inline-block;
  min-width: 32px;
  line-height: 32px;
  height: 32px;
  padding: 0 4px;
  background: #F5F5F7;
  border-radius: 2px;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}
.c-pagination .c-page .num:nth-last-child(1) {
  margin-right: 0;
}
.c-pagination .c-page .active {
  background: #777888;
  color: #fff;
}
.c-pagination .c-pagination-operation {
  display: flex;
  margin-left: 10px;
}
.c-pagination .c-pagination-size {
  display: block;
  margin: 0 6px;
}
.c-pagination .c-pagination-jumper {
  display: flex;
  width: 120px;
  line-height: 35px;
}
.c-pagination .c-pagination-jumper .jumper {
  margin: 0 8px;
  flex: 1;
}
