// 主题色
@primary-color: #fc5531;  // 主题色
@light-color: #f8e3c3;    // 高亮色

@danger-color: #fc5531;   // 警告色
@disable-color: #999999;  // 禁止色

@white: #fff;
@black: #000;

// 按钮颜色
@btn-primary-color: @primary-color; // 按钮默认色
@btn-danger-color: @primary-color; // 按钮默认色
@btn-light-color: @light-color; // 按钮高亮色
@btn-black-color: #444555; // 按钮黑色

// 文字颜色
@text-light-color: #E33E33;
@text-primary-color: #222226; 
@text-second-color: #555666; 
@text-info-color: #777888;

//提示颜色
@tip-primary-color: @primary-color;
@tip-light-color: @light-color;

// 文字大小
@font-size-1: 24px; // h1标签
@font-size-2: 20px; // h2标签
@font-size-3: 18px;
@font-size-4: 16px;
@font-size: 14px;
@font-sm-size: 12px;

@line-height-base: 1.5715;

@transiton-duration: 0.2s;

// 层级
@zindex-toast: 9999;