.c-checkbox {
  display:inline;
  border-radius: 5px;
  margin-left: 5px;


  &-input {
    cursor: pointer;

    &-disabled {
      cursor: not-allowed;
    }
    &-large {
      width: 18px;
      height: 18px;
    }
    &-medium {
      width: 16px;
      height: 16px;
    }
    &-small {
      width: 13px;
      height: 13px;
    }
  }

  &-large {
    font-size: 20px;
    padding: 12px 20px;
  }
  &-medium {
    font-size: 18px;
    padding: 9px 15px;
  }
  &-small {
    font-size: 15px;
    padding: 7px 13px;
  }
  &-border {
    border:1.5px solid rgb(150, 142, 142);
  }
  &-checked {
    border-color: #1c86f0;
  }
}
