.c-calendar-wrapper {
  .title {
    font-size: 16px;
    color: #222226;
    line-height: 24px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .text {
      font-weight: 500;
      vertical-align: middle;
      margin: 0 8px;
    }
    .c-calendar-change {
      cursor: pointer;
    }
  }
  .c-calendar {
    width: 100%;

    .t-date-head {
      margin-bottom: 8px;
      th {
        color: #222226;
        line-height: 24px;
        font-size: 14px;
        width: 70px;
        font-weight: 400;
        text-align: center;
      }
    }
  }
}

.show-all {
  .day {
    visibility: inherit !important;
  }
}
.day {
  position: relative;
  visibility: hidden;
  width: 70px;
  height: 32px;
  font-size: 14px;
  font-weight: 400;
  color: #777888;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
  &.currentMonth {
    color: #222226;
    visibility: inherit;
  }
  &::before {
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -2px;
    display: block;
    content: ' ';
    width: 4px;
    height: 4px;
    border-radius: 2px;
  }
  &.beforeDay {
    &::before {
      background: #CCCCD8;
    }
    &.selected {
      &::before {
        background: @primary-color;
      }
    }
  }
  &.today {
    &.selected {
      &::before {
        background: #fff;
      }
    }
    .day-text {
      display: inline-block;
      width: 32px;
      height: 32px;
      background: @primary-color;
      border-radius: 16px;
      color: #fff;
    }
  }
}
